<div class="banner-gs">
  <div class="banner-logo"><%= image_tag("moving-wagon.png", class:"wagon") %>
  </div>
   <div class="container">
    <div class="row">

       <% if @answer.correct %>
          <div class="banner-gif">
          <%= image_tag("happy.gif") %>
          </div>
          <p>Bravo! Bonne réponse!</p>
       <% else %>
          <div class="banner-gif">
          <%= image_tag("sadness.gif") %>
          </div>
          <p>Dommage, mauvaise réponse...</p>
       <% end %>

       <% if @player.next_page_path(@question)=~(/edit/) %>
         <h4>Prochaine étape dans</h4>
       <% else %>
         <h4>Prochaine question dans</h4>
       <% end %>

        <span id="countdown" data-starting-at="<%= @question.next_start_at(@player).to_i %>"
                             data-next-page-path="<%= @player.next_page_path(@question) %>">
        </span>

      </div>
    </div>
  </div>
</div>

