<div class="banner-gs" style="background: url( <%= image_path "fond-reponse.jpg" %>) center;">
   <div class="container" style="padding-top: 40px";>
    <div class="row">

       <% if @answer.correct %>
          <p style="font-family: StarJedi;">bonne réponse !</p>
          <div class="banner-gif">
          <%= image_tag("giphy.gif") %>
          </div>
      <% else %>
          <p style="font-family: StarJedi;">mauvaise réponse !</p>
          <div class="banner-gif">
          <%= image_tag("giphy1.gif") %>
          </div>
       <% end %>

       <% if @player.next_page_path(@question)=~(/edit/) %>
         <h4 style="font-family: StarJedi";>la suite dans</h4>
       <% else %>
         <h4 style="font-family: StarJedi";>prochaine question dans</h4>
       <% end %>

        <span id="countdown" data-starting-at="<%= @question.next_start_at(@player).to_i %>"
                             data-next-page-path="<%= @player.next_page_path(@question) %>">
        </span>

      </div>
    </div>
  </div>
</div>

