
<div class="banner-gs">
    <div class="banner-logo"><%= image_tag("moving-wagon.png", class:"wagon") %>
    </div>

  <div class="container">

    <div class="row">



      <p class="main-title">Question <%= @question.position%></p>
        <span id="countdown" data-starting-at="<%= @question.next_start_at(@player).to_i %>" data-next-page-path="<%= @player.next_page_path(@question) %>">
        </span>

      <p class="subtitle"><%= @question.title %></p>
      <div class="padded2">
        <%= simple_form_for [@player, @question, @answer] do |f| %>
          <%= f.input :choice, as: :hidden,
              input_html: { value: '1' } %>
          <%= f.submit "#{@question.answer_1}", class: "col-xs-offset-1 col-xs-4 col-xs-offset-1  btn btn-lg btn-danger" %>
        <% end %>
        <%= simple_form_for [@player, @question, @answer] do |f| %>
          <%= f.input :choice, as: :hidden, input_html: { value: '2' } %>
          <%= f.submit "#{@question.answer_2}", class: "col-xs-offset-1 col-xs-4 col-xs-offset-1  btn btn-lg btn-danger" %>
        <% end %>
        </div>
        <div class="padded2">
        <%= simple_form_for [@player, @question, @answer] do |f| %>
          <%= f.input :choice, as: :hidden, input_html: { value: '3' } %>
          <%= f.submit "#{@question.answer_3}", class: "col-xs-offset-1 col-xs-4 col-xs-offset-1  btn btn-lg btn-danger" %>
        <% end %>
        <%= simple_form_for [@player, @question, @answer] do |f| %>
          <%= f.input :choice, as: :hidden, input_html: { value: '4' } %>
          <%= f.submit "#{@question.answer_4}", class: "col-xs-offset-1 col-xs-4 col-xs-offset-1  btn btn-lg btn-danger" %>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
