
<div class="banner-gs" style="background: linear-gradient(-180deg, rgba(0,0,0,0.9) 10%, rgba(0,0,0,0.6) 150%), url( <%= image_path "gs-m.jpeg" %>) center;">
<div class="container">
     <div class="row">
         <%= image_tag("moving-wagon.png", class:"wagon") %>
    </div>
  <div class="row">
      <span id="countdown" data-starting-at="<%= @question.next_start_at(@player).to_i %>"
                           data-next-page-path="<%= @player.next_page_path(@question) %>">
      </span>

      <h1>Question <%= @question.position%></h1>
      <h2><%= @question.title %></h2>
      <div class="col-xs-6">
        <%= simple_form_for [@player, @question, @answer] do |f| %>
          <%= f.input :choice, as: :hidden,
              input_html: { value: '1' } %>
          <%= f.submit "#{@question.answer_1}", class: "btn btn-primary" %>
        <% end %>
        <%= simple_form_for [@player, @question, @answer] do |f| %>
          <%= f.input :choice, as: :hidden, input_html: { value: '2' } %>
          <%= f.submit "#{@question.answer_2}", class: "btn btn-primary" %>
        <% end %>
        </div>
        <%= simple_form_for [@player, @question, @answer] do |f| %>
          <%= f.input :choice, as: :hidden, input_html: { value: '3' } %>
          <%= f.submit "#{@question.answer_3}", class: "btn btn-primary" %>
        <% end %>
        <%= simple_form_for [@player, @question, @answer] do |f| %>
          <%= f.input :choice, as: :hidden, input_html: { value: '4' } %>
          <%= f.submit "#{@question.answer_4}", class: "btn btn-primary" %>
        <% end %>

  </div>
</div>
</div>
