<h1>Question <%= @question.position%></h1>
<h2><%= @question.title %></h2>
<%=  game_session_id = params[:game_session_id] %>
<%=  question_id = params[:question_id] %>

<%= button_to "A. #{@question.answer_1}",
    game_session_question_answers_path(games_session_id, question_id), class: "btn btn-primary", method: :post %>

