<div class="chart-container" style="position: relative; height:200px; width:400px">

<canvas id="pieChart<%= game_session_id %>"></canvas>
<% content_for(:after_js) do %>

  <script>
    var ctx = document.getElementById("pieChart<%= game_session_id %>").getContext('2d');

      var data = {
              <%# raise %>
        labels:  ["Joueurs inconnus", "Joueurs inscrits"],
              // data: <%= @sessions_signed_players %>,
        datasets: [{
          backgroundColor: ["#37474F", "#E67E22"],
          data: <%= @stats %>,
          }]
        };

        var options = {
          title: {
          display: true,
          text: 'Résultat :  <%= (@stats[0]+@stats[1]) %> joueurs, <%= number_to_percentage(100*(@stats[1]/(@stats[0]+@stats[1]).to_f), precision: 0) %> de conversion'
        }
      };
    // Chart declaration:
    var myChart = new Chart(ctx, {
      type: 'doughnut',
      data: data,
      options: options
    });
  </script>

<% end %>
</div>
