<div class="chart-container" style="position: relative; height:200px; width:400px">

<canvas id="pieChart<%= game_session_id %>"></canvas>
<% content_for(:after_js) do %>

  <script>
    var ctx = document.getElementById("pieChart<%= game_session_id %>").getContext('2d');

      var data = {
        labels:  ["Joueurs inconnus", "Joueurs inscrits"],
        datasets: [{
          backgroundColor: ["#37474F", "#E67E22"],
          data: <%= [unsigned_players, signed_players] %>,
          }]
        };

        var options = {
          title: {
          display: true,
          text: 'Résultat :  <%= (unsigned_players+signed_players) %> joueurs, <%= number_to_percentage(100*(signed_players/(unsigned_players+signed_players).to_f), precision: 0) %> de conversion'
        }
      };
    // Chart declaration:
    var myChart = new Chart(ctx, {
      type: 'doughnut',
      data: data,
      options: options
    });
  </script>

<% end %>
</div>
