<h1 class="text-center">Tableau de bord <strong><%= current_company.name %></strong></h1>

<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#dashboard">Résumé</a></li>
  <li><a data-toggle="tab" href="#sessions">Détail des Sessions</a></li>
</ul>

<div class="tab-content">
  <div id="dashboard" class="tab-pane fade in active">
    <div class="container">
      <div class="row">
        <div class="col-xs-6 col-xs-offset-3">

          <canvas id="barChart" width="400" height="400"></canvas>
          <% content_for(:after_js) do %>
            <%= render 'bar_chart' %>

          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div id="sessions" class="tab-pane fade">
    <div class="container">

      <% @game_sessions.each_with_index do |game_session, i| %>
        <% if game_session.players.any? %>
          <% @stats = [] %>
          <% @stats.push(@sessions_players[i]) %>
          <% @stats.push(@sessions_signed_players[i]) %>

          <div class="game-session-detail">
            <div class="row message">
              <div class="col-md-3 col-sm-3 col-xs-12">
                <div class="message-name">
                  <h3>Session <%= game_session.id %></h3>
                  <p><%= l(game_session.seance.start_at) %></p>
                  <p>Cinéma : <%= game_session.seance.cinema.name %></p>
                  <p>Film : <%= game_session.seance.movie %></p>
                </div>
              </div>

              <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="message-body">
                  <%= render 'pie_chart', game_session_id: game_session.id %>
                </div>
              </div>
              <div class="col-md-3 col-sm-3 col-xs-12">
                <div class="message-status">
                  <p>Télécharger</p>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>

    </div>
  </div>
</div>
