<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="7thAD crée une expérience inédite autour de vos couleurs et de votre positionnement">
    <meta property="og:title" content="7thAd - Interagissez avec votre audience">
    <meta property="og:image" content="DemoDay.png">
    <meta property="og:description" content="7thAD crée une expérience inédite autour de vos couleurs et de votre positionnement">
    <meta property="og:site_name" content="7thAd"/>
    <title>Interagissez avec votre audience </title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>

   <link rel="shortcut icon" href="/favicon.png" type="image/x-icon">
   <link rel="icon" href="/favicon.png" type="image/x-icon">


  </head>
  <body>
    <%= render 'shared/flashes' %>
    <%= render 'shared/navbar' unless @disable_nav_footer %>
    <div class="view">
    <%= yield %>
    </div>
    <%= render 'shared/footer' unless @disable_nav_footer %>
    <%= javascript_include_tag 'application' %>
    <%= cloudinary_js_config %>
    <%= yield(:after_js) %>
  </body>
</html>
